In [2]:
import pandas as pd

#zad1
df = pd.read_csv('orders.csv', sep=',')
df.describe()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [3]:
#a
df["order_date"]= pd.to_datetime(df["order_date"],yearfirst=True)
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [13]:
#b


df["tshirt_category"].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Wh Tshirt F',
       'Black T-Shirt F', 'Hoodie', 'Black T-Shirt M', 'Tennis Shirt',
       'Wh Tshirt M', 'Bl Tshirt F', 'Bl Tshirt M'], dtype=object)

In [14]:
#c
df["tshirt_category"] = df["tshirt_category"].apply(lambda x: x.replace("Wh Tshirt F", "White T-shirt F"))
df["tshirt_category"] = df["tshirt_category"].apply(lambda x: x.replace("Wh T-shirt F", "White T-Shirt F"))
df["tshirt_category"] = df["tshirt_category"].apply(lambda x: x.replace("White T-shirt F", "White T-Shirt F"))
df["tshirt_category"] = df["tshirt_category"].apply(lambda x: x.replace("Wh Tshirt M", "White T-Shirt M"))
df["tshirt_category"] = df["tshirt_category"].apply(lambda x: x.replace("Bl Tshirt F", "Black T-Shirt F"))
df["tshirt_category"] = df["tshirt_category"].apply(lambda x: x.replace("Bl Tshirt M", "Black T-Shirt M"))
df = df.drop(df[df["tshirt_category"]=="Blac"].index)
df["tshirt_category"].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Black T-Shirt F', 'Hoodie',
       'Black T-Shirt M', 'Tennis Shirt'], dtype=object)

In [15]:
#d
def tshirt_type (row):
   if 'T-Shirt' in row['tshirt_category'] :
      return 'T-Shirt'
   if 'Hoodie' in row['tshirt_category'] :
      return 'Hoodie'
   if 'Shirt' in row['tshirt_category'] :
      return 'Shirt'

def tshirt_size (row):
   if 'M' in row['tshirt_category'] :
      return 'M'
   if 'F' in row['tshirt_category'] :
      return 'F'

def tshirt_color (row):
   if 'White' in row['tshirt_category'] :
      return 'White'
   if 'Black' in row['tshirt_category'] :
      return 'Black'

df['tshirt_type'] = df.apply (lambda row: tshirt_type(row), axis=1)
df['tshirt_size'] = df.apply (lambda row: tshirt_size(row), axis=1)
df['tshirt_colour'] = df.apply (lambda row: tshirt_color(row), axis=1)

df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-Shirt,M,White
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-Shirt,M,White
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-Shirt,F,White
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,T-Shirt,F,White
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-Shirt,M,White
...,...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,T-Shirt,M,White
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,T-Shirt,M,White
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,T-Shirt,M,White
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5,Hoodie,None,None
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,T-Shirt,M,Black

In [16]:
#e
df[(df['order_date'] >= '2014-12-31') & (df['order_date'] <= '2016-08-02')]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-Shirt,M,White
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,T-Shirt,F,Black
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3,Hoodie,None,None
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,T-Shirt,M,White
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1,T-Shirt,F,Black
...,...,...,...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,Black T-Shirt F,17.5,1,T-Shirt,F,Black
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,White T-Shirt F,18.0,1,T-Shirt,F,White
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Hoodie,23.0,1,Hoodie,None,None
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4,T-Shirt,M,White
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,T-Shirt,M,White

In [17]:
#zad2
df1 = pd.read_csv('customers.csv', sep=',')
#a
df1.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [18]:
#b
#ramka 1.
df.size

265520

In [19]:
#ramka 2.
df1.size

112596

In [20]:
#c
df1.rename(columns={'customerID': 'customer_id'}, inplace=True)
df1.columns

Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [21]:
#d
merged_df= df.merge(df1, on='customer_id', how='inner')

merged_df
#odpowiedÅº: zdecydowaÅ‚em siÄ™ na uÅ¼ycie inner join, poniewaÅ¼ w tym wypadku zostanÄ… wybrane rekordy ktÃ³re majÄ… zamÃ³wienie i klienta obecnego po obu stronach zÅ‚Ä…czenia

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-Shirt,M,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,T-Shirt,F,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-Shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,T-Shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-Shirt,F,White,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,Hoodie,23.0,1,Hoodie,None,None,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,White T-Shirt M,20.0,3,T-Shirt,M,White,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,Hoodie,23.0,1,Hoodie,None,None,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,White T-Shirt M,20.0,2,T-Shirt,M,White,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,Tennis Shirt,24.0,1,Shirt,None,None,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

In [23]:
#zad3
merged_df.to_csv("merged.csv", sep=";", index=False)